<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">Angulat test </a>
    <button (click)="toggleSidebar()" class="navbar-toggler" type="button">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i aria-hidden="true" class="fa fa-bars text-muted"></i>
    </button>
    <div class="collapse navbar-collapse">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" placeholder="{{ 'Search'}}" type="text" />
        </form>
        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                    <i class="fa fa-user"></i> Jimena MN <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>

                    <a (click)="onLoggedout()" [routerLink]="['/login']" class="dropdown-item">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out'}}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>