.footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 60px;
    background-color:  rgb(115, 224, 188);
}

.content{
    float: right;
    color: rgb(64, 136, 199);
    margin-top: 15px;
}

.has-text-centered{
    text-justify: auto;
}