.data {
    color: rgb(66, 93, 167);
    font-size: small;
    font-weight: bold;
}

.edit {
    color:  rgb(115, 224, 188);
    float: right;
    margin: 5px;
    margin-bottom: 5 px;
}

.calcel {
    color:  rgb(228, 105, 74);
    float: right;
    margin: 5px;
    margin-bottom: 5 px;
}

a {
    color: rgb(228, 105, 74);
  }
