<!-- select user rol -->
<div class="row justify-content-md-center" *ngIf="!emptyItems">
  <div class="col col-xl-6 col-lg-6 col-md-8 col-sm-12">
      <div class="card" style="width: 25rem;">
          <div class="card-body form-group">
            <select name="userOption" id="userOption" class="form-control" #userOption (change)="onChange($event)">
              <option value="user">User</option>
              <option value="admin">Admin</option>
            </select>
          </div>
        </div>
  </div>
</div>
<!-- end of select user rol -->

<br>

<!-- edit message *only admin-->
<div class="row justify-content-md-center" *ngIf="!emptyItems">
    <div class="col col-xl-6 col-lg-6 col-md-8 col-sm-12">
        <div class="card" style="width: 25rem;">
            <div class="card-body form-group">

              <span *ngIf="editingData" (click)="cancelEdit()">
                <a href="default.asp" target="_blank"></a><i class="fa fa-times-circle calcel"><a> Cancel</a></i>
              </span>
              <br *ngIf="editingData">
              <hr *ngIf="editingData">
              <h5 class="card-title">{{this.info.name}}</h5>
              <hr>
              <h6 class="card-subtitle mb-2 text-muted">
                <span class="data">Subject: </span><span *ngIf="!editingData">{{this.info.subject}}</span>
              </h6>
              <input type="text" class="form-control" value="{{this.info.subject}}" [(ngModel)]="this.info.subject" *ngIf="editingData">
              <p class="card-text">
                <span class="data">Contect: </span><span *ngIf="!editingData">{{this.info.content}}</span>
              </p>
              <textarea class="form-control" [(ngModel)]="this.info.content" *ngIf="editingData">{{this.info.content}}</textarea>
              <hr>
              <small>{{this.info.email}}</small>
            </div>
            <div>
              <i class="fa fa-trash edit" *ngIf="isAdmin && !editingData" (click)="open(content)"></i>
              <i class="fa fa-edit edit" *ngIf="isAdmin && !editingData" (click)="editMessage()"></i>
            </div>
            <div class="form-group">
              <div class="send">
                <button type="submit" class="btn btn-outline-success btn-lg btn-block" *ngIf="editingData" (click)="saveChanges()">Save</button>
              </div>
            </div>
          </div>
    </div>
</div>
<!-- end of edit message -->

<!-- if there is not message -->
<div class="row justify-content-md-center" *ngIf="emptyItems">
  <div class="col col-xl-6 col-lg-6 col-md-8 col-sm-12">
      <div class="card" style="width: 25rem;">
          <div class="card-body">
            <hr>
            <small class="card-title">No hay menasaje que mostrar</small>
            <hr>
          </div>
        </div>
  </div>
</div>
<!-- end of if there is not message -->

<!-- modal to delete message -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete message</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>

      <div class="form-group">
        <h6 class="card-subtitle mb-2 text-muted">
          Do you want to delete the message from {{this.info.name}} ?
        </h6>
       
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-success btn-lg btn-block" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<!-- end of modal to delete message -->
