<div class="row justify-content-md-center">
  <div class="col col-xl-6 col-lg-6 col-md-8 col-sm-12">
    <!-- form to send message -->
    <form #form="ngForm" (ngSubmit)="sendMessage()"> 
        <div class="form-group">
          <label for="name">Name: <span style="color: red">*</span></label>
          <input [(ngModel)]="data.name" id="name" name="name" type="text" class="form-control" aria-describedby="emailHelp" required>

          <label for="email">Email: <span style="color: red">*</span></label>
          <input [(ngModel)]="data.email" id="email" name="email" type="email" class="form-control" aria-describedby="emailHelp" required>

          <label for="subject">Subject: <span style="color: red">*</span></label>
          <input [(ngModel)]="data.subject" id="subject" name="subject" type="text" class="form-control" aria-describedby="emailHelp" required>

          <label for="content">Content</label>
          <textarea [(ngModel)]="data.content" id="content" name="content" class="form-control" aria-describedby="subjectMatterHelp" ></textarea>
        </div>
        <div class="form-group row">
            <div class="send">
              <button type="submit" class="btn btn-outline-success btn-lg btn-block">Send</button>
            </div>
          </div>
    </form>
   <!--  end of form to send message -->
  </div>
</div>
