<!-- <nav>
  <ul>
    <li><a routerLink="/contact-settings" routerLinkActive="active">Contact Settings</a></li>
  </ul>
</nav> -->


<app-header></app-header>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<section [ngClass]="{ collapsed: collapedSideBar }" class="main-container">
    <router-outlet></router-outlet>
</section>
<app-footer></app-footer>